.header {
  float: right;
  padding: 20px;
}

.body {
  text-align: center;
  padding: 190px;
}

img {
  width: 272px;
}

.regular {
  margin: 25px;
  width: 52%;
  height: 1px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 25px;
  outline: none;
  padding: 20px;
}

.submit, a {
  padding: 10px;
  border: none;
  width: 130px;
  color: #505050;
  border-radius: 5px;
  margin: 3px;
}

a {
  background-color: #F0F0F0;
  text-decoration: none;
  color: #505050;
}

table {
  width: 80%;
  margin: 20px;
}

td, th {
  padding: 10px;
  text-align: left;
  font-size: 12px;
}

tr>:nth-child(1) {
  width: 20%;
}

tr>:nth-child(2) {
  width: 50%;
}

tr>:nth-child(3) {
  width: 30%;
}

.advanced-input {
  width: 90%;
  outline-color: #3388FF;
}

#advanced-body {
  color: #505050;
}

h1 {
  color: #CC3300;
  font-weight: normal;
  font-size: 20px;
}
